{{! --- header template ---}}

<header>
    <h1>Welcome</h1>
    <nav>
            <ul>
                <li class="navItem"><a href="/">Weather</a></li>
                <li class="navItem"><a href="/about">About</a></li>
                <li class="navItem"><a href="/help">Help</a></li>
            </ul>
        </nav>
</header>